body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 00.03em;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: center;
}

.hat {
  border-bottom: 1px;
  color: #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Логотип */

.logo {
  margin-right: 93px;
}

.logo1 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}

.logo2 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}

.logo3 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
}

/* Навигация_по_сайту */

.navigation {
  display: flex;

  padding: 0px;
  margin: 0px;
}

.navigation .item:not(:last-child) {
  margin-right: 50px;
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation li > a:hover,
.navigation li > a:focus {
  color: #2196f3;
}

.valid-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

/* Контакты */

.contacts {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.contacts .item + .item {
  margin-left: 30px;
}

.contacts li > a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts li > a:hover,
.contacts li > a:focus,
.contacts li > a:visited {
  color: #2196f3;
}

.button {
  border-radius: 4px;
  cursor: pointer;
  border: 0px;
  padding: 6px 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #181212;
}

.button:hover {
  color: cornsilk;
  background-color: #2196f3;
}

.button2 {
  border-radius: 4px;
  cursor: pointer;
  border: 0px;
  padding: 6px 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #2196f3;
  color: #ffffff;
}

/* Проекты_компании */

.project {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
}

.project-nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 54px;
  margin: 0px;
  padding: 0px;
}

.project-nav .item + .item {
  margin-left: 8px;
}

.project-foto {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  margin-top: 34px;
}

.project-foto .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-foto .item:nth-child(3n) {
  margin-right: 0px;
}

.project-foto .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.info-foto {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.project-text {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}

.project-title {
  margin: 0px;
  padding: 0px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}

/* Заказ_услуг */

.service {
  height: 600px;
  text-align: center;
  background-color: #2f303a;
}

.serv {
  padding-top: 200px;
  padding-bottom: 200px;
}

.service-title {
  width: 696px;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button1 {
  border-radius: 4px;
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
}

/* Описание_чем_занимается_фирма */

.container .quality {
  display: flex;
}

.quality {
  margin: 0px;
  padding: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.quality .item {
  width: 270px;
}

.quality .item:not(:last-child) {
  margin-right: 30px;
}

.quality-title {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.quality-text {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Фото_Чем_Занимается_фирма */

.occupation {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  padding-bottom: 94px;
}

.occupation-title {
  margin: 0px;
  padding: 0px;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* Наша_Команда */

.info-team {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-title {
  margin: 0px;
  padding: 0px;
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team {
  background-color: #f5f4fa;
}
.our-team-list {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  padding-bottom: 94px;
}

.team-title {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-text {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Подпись */

.address {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}

.footer {
  padding: 0px;
  margin: 0px;
  background-color: #2f303a;
}

.ftr {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.contacts-footer {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.contacts-footer .item {
  margin-top: 9px;
}

.contacts-footer > li > a {
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
